// шрифти
$fontPrimary: 'Jost', sans-serif;
$fontSecondary: 'DM Serif Display', serif;
// кольори
$colorTextTitle: #292f36;
$colorTextPrimary: #4d5053;
$colorTextContrast: #fff;
$colorTextQuotes: #e4d8cc;

$colorAccent: #cda274;
$colorBgPrimary: #f4f0ec;
$colorBorder: #e7e7e7;


