<section class="brands">
  <div class="brands__container">
    <ul class="projects__list">
      <li class="projects__item">
        <a href="#"
          ><img
            class="brands__image"
            src="./images/projects/modernhome.svg"
            alt="modernhome"
          />
        </a>
      </li>
      <li class="projects__item">
        <a href="#"
          ><img
            class="brands__image"
            src="./images/projects/stylevintage.svg"
            alt="style vintage"
          />
        </a>
      </li>
      <li class="projects__item">
        <a href="#"
          ><img
            class="brands__image"
            src="./images/projects/brand.svg"
            alt="brand"
          />
        </a>
      </li>
      <li class="projects__item">
        <a href="#"
          ><img
            class="brands__image"
            src="./images/projects/naturehome.svg"
            alt="nature home"
          />
        </a>
      </li>
      <li class="projects__item">
        <a href="#"
          ><img
            class="brands__image"
            src="./images/projects/classicdesign.svg"
            alt="classic design"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
