<section class="brands">
  <div class="brands__container">
    <ul class="projects__list">
      <li class="projects__item">
        <picture>
          <source
            srcset="./images/projects/modernhome.webp 1x"
            media="(max-width:480px)"
          />
          <source
            srcset="./images/projects/modernhome.svg 1x"
            media="(max-width:480px)"
          />
        </picture>
        <img
          class="brands__image"
          src="./images/projects/modernhome.svg"
          alt="modern home"
        />
      </li>
      <li class="projects__item">
        <picture>
          <source
            srcset="./images/projects/modernhome.webp 1x"
            media="(max-width:480px)"
          />
          <source
            srcset="./images/projects/modernhome.svg 1x"
            media="(max-width:480px)"
          />
          <img
            class="brands__image"
            src="./images/projects/stylevintage.svg"
            alt="style vintage"
          />
        </picture>
      </li>
      <li class="projects__item">
        <picture>
          <source
            srcset="./images/projects/modernhome.webp 1x"
            media="(max-width:480px)"
          />
          <source
            srcset="./images/projects/modernhome.svg 1x"
            media="(max-width:480px)"
          />
          <img
            class="brands__image"
            src="./images/projects/brand.svg"
            alt="brand"
          />
        </picture>
      </li>
      <li class="projects__item">
        <picture>
          <source
            srcset="./images/projects/modernhome.webp 1x"
            media="(max-width:480px)"
          />
          <source
            srcset="./images/projects/modernhome.svg 1x"
            media="(max-width:480px)"
          />
          <img
            class="brands__image"
            src="./images/projects/naturehome.svg"
            alt="nature home"
          />
        </picture>
      </li>
      <li class="projects__item">
        <picture>
          <source
            srcset="./images/projects/modernhome.webp 1x"
            media="(max-width:480px)"
          />
          <source
            srcset="./images/projects/modernhome.svg 1x"
            media="(max-width:480px)"
          />
          <img
            class="brands__image"
            src="./images/projects/classicdesign.svg"
            alt="classic design"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
