<section class="comments">
  <div class="container comments__container">
    <h2 class="comments__title"></h2>
    <ul class="comments__list">
      <!--............. FIRST COMMENT............. -->
      <li class="comments__item">
        <article class="comment">
          <div class="comment__info">
            <div class="comment__photo">
              <img
                class="comment__img"
                src="./images/comments/lisa(blonde).png"
                width="77px"
                alt="lisa clairon (blonde)"
              />
              <h3 class="comment__name">Lisa Clairton</h3>
              <p class="comment__place">New York, USA</p>
            </div>
            <p class="comment__text">
              We selected Interno interior because of rigorous design background
              & education.
            </p>
          </div>
        </article>
      </li>
      <!--............. SECOND COMMENT............. -->
      <li class="comments__item">
        <article class="comment">
          <div class="comment__info">
            <div class="comment__photo">
              <img
                class="comment__img"
                src="./images/comments/david.png"
                width="77px"
                alt="david knight"
              />
              <h3 class="comment__name">David Knight</h3>
              <p class="comment__place">Sydney, Australia</p>
            </div>
            <p class="comment__text">
              The team exceeded our expectations and emerged as leaders of our
              project’s.
            </p>
          </div>
        </article>
      </li>
      <!--............. THIRD COMMENT............. -->
      <li class="comments__item">
        <article class="comment">
          <div class="comment__info">
            <div class="comment__photo">
              <img
                class="comment__img"
                src="./images/comments/lisa.png"
                width="77px"
                alt="lisa clairon"
              />
              <h3 class="comment__name">Lisa Clairton</h3>
              <p class="comment__place">Paris, France</p>
            </div>
            <p class="comment__text">
              They balanced the architectural vision and the project realities
              beautifully.
            </p>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
