<section class="estimate">
  <div class="container estimate__container">
    <div class="estimate__grop">
      <h2 class="estimate__title">We Tackle The Most Challenging Designs</h2>
      <p class="estimate__text">
        The world needs innovators and problem solvers who turn challenges into
        greater opportunities. We have an insatiable curiosity about
        transformative trends challenging the status.
      </p>
      <a href="tel:012345678" class="estimate__tel">
        <span class="estimate__tel--background">
          <svg class="estimate__g-mobil">
            <use href="./images/estimate/icons-esetimate.svg#icon-mobile"></use>
          </svg>
        </span>

        <p class="estimate__tel-text">
          01234567<span class="estimate__tel-text">Call Us Anytime </span>
        </p>
      </a>
      <button class="button estimate__button">
        Get Free Estimate
        <svg class="estimate__g-arrow">
          <use href="./images/estimate/icons-esetimate.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <div class="estimate__photo">
      <picture>
        <source
          srcset="
            ./images/estimate/estimate_desktop.webp    1x,
            ./images/estimate/estimate_desktop@2x.webp 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/estimate/estimate_desktop.jpg    1x,
            ./images/estimate/estimate_desktop@2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/estimate/estimate_mobil.webp    1x,
            ./images/estimate/estimate_mobil@2x.webp 2x
          "
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/estimate/estimate_mobil.jpg    1x,
            ./images/estimate/estimate_mobil@2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img src="./images/estimate/estimate_desktop.jpg" alt="home" />
      </picture>
    </div>
  </div>
</section>
