<section class="estimate">
  <div class="container estimate__container">
    <div class="estimate__grop">
      <h2 class="estimate__title">We Tackle The Most Challenging Designs</h2>
      <p class="estimate__text">
        The world needs innovators and problem solvers who turn challenges into
        greater opportunities. We have an insatiable curiosity about
        transformative trends challenging the status.
      </p>
      <a href="tel:012345678" class="estimate__tel">
        <p class="estimate__tel-text">
          01234567<span class="estimate__tel-text">Call Us Anytime </span>
        </p>
      </a>
      <button class="button estimate__button">Get Free Estimate</button>
    </div>

    <div class="estimate__photo">
      <img src="./images/mobil/estimate.jpg" alt="home" />
    </div>
  </div>
</section>
