<header class="header">
  <div class="container header__container">
    <a href="#">
      <img class="logo" src="./img/logo.svg" alt="logo" />
    </a>
    <div class="mobile-menu">
      <button class="mobile-menu__btn menu-btn" data-menu-btn>
        <span class="menu-btn__line"></span>
      </button>
      <div class="mobile-menu__wrapp" data-menu>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>About Us</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Services</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Pages</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#" data-mobile-link>Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
