<section class="location">
    <div class="container">
        <div class="info-box">
            <h3>Location</h3>

            <p>101 Cuba St,<br>Te Aro, Wellington</p>
        </div>

        <div class="info-box">
            <h3>Hours</h3>
            <p><strong>Tuesday to Friday</strong><br>7AM - 3PM</p>
            <p><strong>Saturday to Sunday</strong><br>8AM - 3PM</p>
        </div>

        <div class="info-box">
            <h3>Mondays?</h3>
            <p>We are closed on Mondays to<br>reflect and refuel</p>
        </div>
    </div>

</section>