<section class="projects">
  <div class="container projects__container">
    <h2 class="projects__title">Recent Projects</h2>
    <p class="projects__description">
      With tools to make every part of your process more human and a support
      team
    </p>
    <p class="projects__description">
      excited to help you, getting started with us never been easier.
    </p>
    <ul class="projects__list">
      <li class="projects__item">
        <picture>
          <source
            srcset="
              ./images/projects/1img.webp    1x,
              ./images/projects/1img@2x.webp 2x
            "
            media="(max-width:480px)"
          />
          <source
            srcset="
              ./images/projects/1img.png    1x,
              ./images/projects/1img@2x.png 2x
            "
            media="(max-width:480px)"
          />
          <img
            class="projects__image"
            src="./images/projects/1img.png"
            alt="Art Modern"
          />
        </picture>
        <div class="projects__info">
          <div class="projects__text">
            <h3 class="projects__item-title">Bedroom Interior Pot Work</h3>
            <p class="projects__item-description">Modern</p>
          </div>
          <button class="projects__button"></button>
        </div>
      </li>
      <li class="projects__item">
        <picture>
          <sourcewiew
            more
            srcset="
              ./images/projects/2img.webp    1x,
              ./images/projects/2img@2x.webp 2x
            "
            media="(max-width:480px)"
          />
          <source
            srcset="
              ./images/projects/2img.png    1x,
              ./images/projects/2img@2x.png 2x
            "
            media="(max-width:480px)"
          />
          <img
            class="projects__image"
            src="./images/projects/2img.png"
            alt="Minimalist"
          />
        </picture>
        <div class="projects__info">
          <div class="projects__text">
            <h3 class="projects__item-title">Bedroom Interior Pot Work</h3>
            <p class="projects__item-description">Modern</p>
          </div>
          <button class="projects__button"></button>
        </div>
      </li>
      <li class="projects__item">
        <picture>
          <source
            srcset="
              ./images/projects/3img.webp    1x,
              ./images/projects/3img@2x.webp 2x
            "
            media="(max-width:480px)"
          />
          <source
            srcset="
              ./images/projects/3img.png    1x,
              ./images/projects/3img@2x.png 2x
            "
            media="(max-width:480px)"
          />
          <img
            class="projects__image"
            src="./images/projects/3img.png"
            alt="Modern"
          />
        </picture>
        <div class="projects__info">
          <div class="projects__text">
            <h3 class="projects__item-title">Bedroom Interior Pot Work</h3>
            <p class="projects__item-description">Modern</p>
          </div>
          <button class="projects__button"></button>
        </div>
      </li>
      <li class="projects__item">
        <picture>
          <source
            srcset="
              ./images/projects/4img.webp    1x,
              ./images/projects/4img@2x.webp 2x
            "
            media="(max-width:480px)"
          />
          <source
            srcset="
              ./images/projects/4img.png    1x,
              ./images/projects/4img@2x.png 2x
            "
            media="(max-width:480px)"
          />
          <img
            class="projects__image"
            src="./images/projects/4img.png"
            alt="Scandinavian"
          />
        </picture>
        <div class="projects__info">
          <div class="projects__text">
            <h3 class="projects__item-title">Bedroom Interior Pot Work</h3>
            <p class="projects__item-description">Modern</p>
          </div>
          <button class="projects__button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
