<section class="quotes">
  <div class="quotes__container container">
    <div class="quote">
      <div class="quote__photo">
        <img src="./img/quote-orange.webp" alt="quote" class="quote__img" />
      </div>
      <p class="quote__text">
        "We will continue to benefit from our house without having to physically
        live in it
      </p>
      <div class="authors">
        <div class="authors__photo">
          <img
            src="./img/authors.webp"
            alt="Jason & Stormi U."
            class="authors__img"
          />
        </div>
        <div class="authors__names">
          <p class="authors__text">Jason & Stormi U.</p>
          <p class="authors__text">Tucson, AZ • Bonus Members</p>
        </div>
      </div>
    </div>

    <div class="quote">
      <div class="quote__photo">
        <img src="./img/quote-green.webp" alt="quote" class="quote__img" />
      </div>
      <p class="quote__text quote__text--small">
        “Real estate is a tangible investment.” It's one of the easiest assets
        to
      </p>

      <div class="quote__photo">
        <img src="./img/forbes.webp" alt="Forbes" class="quote__img quote__img--forbes" />
      </div>
    </div>
  </div>
</section>
