<section class="quotes">
  <div class="quotes__container container">
    <div class="quote quote__first">
      <blockquote class="quote__text reveal">
        "We will continue to benefit from our house without having to physically
        live in it
      </blockquote>
      <div class="authors">
        <div class="authors__photo">
          <picture>
            <source
              srcset="./img/authors.webp 1x, ./img/authors@2x.webp 2x"
              type="image/webp"
            />

            <source
              srcset="./img/authors.png 1x, ./img/authors@2x.png 2x"
              type="image/png"
            />

            <img
              src="./img/authors.webp"
              alt="Jason & Stormi U."
              class="authors__img"
            />
          </picture>
        </div>
        <div class="authors__names">
          <p class="authors__text">Jason & Stormi U.</p>
          <p class="authors__text">Tucson, AZ • Bonus Members</p>
        </div>
      </div>
    </div>

    <div class="quote">
      <blockquote class="quote__text quote__text--small reveal">
        “Real estate is a tangible investment.” It's one of the easiest assets
        to
      </blockquote>

      <div class="quote__photo">
        <picture>
          <source
            srcset="./img/forbes.webp 1x, ./img/forbes@2x.webp 2x"
            type="image/webp"
          />

          <source
            srcset="./img/forbes.png 1x, ./img/forbes@2x.png 2x"
            type="image/png"
          />

          <img
            src="./img/forbes.webp"
            alt="Forbes"
            class="quote__img quote__img--forbes"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
