<section class="recent-blogs">
  <div class="container">
    <h2 class="recent-blogs__title">Recent Blogs</h2>
    <p class="recent-blogs__subtitle">
      Get updates about our latest trends and techniques used in
    </p>
    <p class="recent-blogs__second-subtitle">interior design project works.</p>
    <ul class="recent-blogs__list">
      <li class="recent-blogs__item">
        <article class="room">
          <div class="room-photo">
            <img
              class="room-img"
              src="./images/recent-blogs/kitchen.jpg"
              alt="kitchen"
            />
            <span class="room-design">Kitchen Design</span>
          </div>

          <h3 class="room-description">
            Residential Interior Designer In New York, USA
          </h3>

          <div class="room-date-container">
            <p class="room-date">November 23, 2021</p>
            <a class="room-date-img" href="#">
              <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_317)">
                  <path
                    d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_317">
                    <rect width="9" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="recent-blogs__item">
        <article class="room">
          <div class="room-photo">
            <img
              class="room-img"
              src="./images/recent-blogs/living-room.jpg"
              alt="living-room"
            />
            <span class="room-design">Living Room</span>
          </div>

          <h3 class="room-description">
            How To Choose The Best Wall Art & Decor House?
          </h3>
          <div class="room-date-container">
            <p class="room-date">November 23, 2021</p>
            <a class="room-date-img" href="#">
              <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_317)">
                  <path
                    d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_317">
                    <rect width="9" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="recent-blogs__item">
        <article class="room">
          <div class="room-photo">
            <img
              class="room-img"
              src="./images/recent-blogs/bath-room.jpg"
              alt="Bathroom"
            />
            <span class="room-design">Minimalist Interior</span>
          </div>

          <h3 class="room-description">
            Tips To Increase The Interior Value Of Your House
          </h3>

          <div class="room-date-container">
            <p class="room-date">November 23, 2021</p>
            <a class="room-date-img" href="#">
              <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_317)">
                  <path
                    d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_317">
                    <rect width="9" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="recent-blogs__item">
        <article class="room">
          <div class="room-photo">
            <img
              class="room-img"
              src="./images/recent-blogs/second-kitchen.jpg"
              alt="living-room"
            />
            <span class="room-design">Kitchen Design</span>
          </div>

          <h3 class="room-description">
            Best Solution For Any Office & Business Interior
          </h3>
          <div class="room-date-container">
            <p class="room-date">November 23, 2021</p>
            <a class="room-date-img" href="#">
              <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_317)">
                  <path
                    d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_317">
                    <rect width="9" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="recent-blogs__item">
        <article class="room">
          <div class="room-photo">
            <img
              class="room-img"
              src="./images/recent-blogs/second-living-room.jpg"
              alt="living-room"
            />
            <span class="room-design">Living Room</span>
          </div>

          <h3 class="room-description">
            Get Solution For Building Construction Work
          </h3>
          <div class="room-date-container">
            <p class="room-date">November 23, 2021</p>
            <a class="room-date-img" href="#">
              <svg
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_317)">
                  <path
                    d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_317">
                    <rect width="9" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </article>
      </li>
      <li class="recent-blogs__item">
        <article class="room">
          <div class="room-photo">
            <img
              class="room-img"
              src="./images/recent-blogs/minimal-interior.jpg"
              alt="living-room"
            />
            <span class="room-design">Minimalist Interior</span>
          </div>

          <h3 class="room-description">
            Attain The Best Finish For The Kitchen Cabinets
          </h3>
          <div class="room-date-container">
            <p class="room-date">November 23, 2021</p>
            <a class="room-date-img" href="#">
              <svg
                class="room-img-date"
                width="9"
                height="16"
                viewBox="0 0 9 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2_317)">
                  <path
                    d="M1.771 14.6859L7.71386 8.00017L1.771 1.31445"
                    stroke="#292F36"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2_317">
                    <rect width="9" height="16" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
