<section class="statistics">
  <div class="container">
    <ul class="statistics-list">
      <li class="statistics-item">
        <h2 class="statistics-title">12</h2>
        <p class="statistics-text">Years Of Experiance</p>
      </li>
      <li class="statistics-item">
        <h2 class="statistics-title">5K</h2>
        <p class="statistics-text">Success Project</p>
      </li>
      <li class="statistics-item">
        <h2 class="statistics-title">1K</h2>
        <p class="statistics-text">Active Project</p>
      </li>
      <li class="statistics-item">
        <h2 class="statistics-title">4K</h2>
        <p class="statistics-text">Happy Customers</p>
      </li>
    </ul>
  </div>
</section>
