@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #4d5053;
  line-height: 1.5;
}

.container {
  min-width: 320px;
  max-width: 1230px;
  margin-inline: auto;
  padding-inline: 15px;
}

.statistics {
  background-color: #f4f0ec;
  height: 475px;
}

.statistics-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 475px;
  align-items: center;
}

.statistics-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 288px;
  height: 195px;
}

.statistics-item::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--colorLogoNavigation);
  position: absolute;
  left: 0;
  opacity: 0;
  border-radius: 2px;
}

.statistics-title {
  font-family: "DM Serif Display", serif;
  font-size: 85px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #cda274;
}

.statistics-text {
  font-family: "Jost", sans-serif;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4d5053;
}