
.authors {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}
.authors__photo {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}

.authors__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.authors__names {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .authors__photo {
    width: 73px;
    height: 73px;
  }
  .authors__text {
  font-size: 14px;
  line-height: 171%;
}
}
