.brands {
  background-color: #ffffff;
  padding-bottom: 100px;
}
.brands__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.brands__list img {
  height: 70px;
  width: auto;
}

.brands__item:hover {
  transform: translateY(-20%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
