@media (max-width: 767px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    max-width: 250px;
    max-height: 100px;
    cursor: pointer;
  }

  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .nav__link {
    font-size: 50px;
    font-weight: 400;
    font-family: $fontPrimary;
    line-height: 1.57;
    $colorTextTitle: #292f36;
    &:hover {
      color: $colorAccent;
    }
  }
}
@media (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 18px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    max-width: 177px;
    max-height: 50px;
  }
  .nav {
    display: flex;
    justify-content: center;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav__link {
    font-size: 20px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: linear;
    &:hover {
      color: $colorAccent;
    }
  }
  .nav__link::before {
    margin-left: auto;
  }
  .nav__link::after,
  .nav__link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: $colorAccent;
    display: block;
    transition: 0.5s;
  }
  .nav__link:hover::after,
  .nav__link:hover::before {
    width: 100%;
  }
}
