@media (max-width: 767px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    max-width: 250px;
    max-height: 100px;
    cursor: pointer;
  }
  .nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
  }
  .nav__link {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    line-height: 1.57;
    $colorTextTitle: #292f36;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    &:hover {
      color: $colorAccent;
    }
  }
}
@media (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 30px;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .logo {
    max-width: 177px;
    max-height: 50px;
    cursor: pointer;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav__link {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    line-height: 1.57;
    $colorTextTitle: #292f36;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    &:hover {
      color: $colorAccent;
    }
  }
}
