/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~modal~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  */
// mobile and tablet-------------------
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  inset: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $colorTextContrast;
  position: absolute;
  min-height: 609px;
  width: calc(100dvw - 30px);
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  border-radius: 9px;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1), 4px 1px 4px 0 rgba(0, 0, 0, 0.1),
    4px 4px 10px 0 rgba(0, 0, 0, 0.25);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.5);
}
.modal__btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorTextContrast;
  &:hover .icon__close,
  &:hover {
    cursor: pointer;
    fill: $colorTextQuotes;
  }
}
.icon__close {
  width: 18px;
  height: 18px;
  fill: $colorTextTitle;
  transition-property: fill;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.modal__title {
  font-size: 30px;
  text-align: center;
  max-width: 370px;
}
.form__fields {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 25px 0;
}
.modal__meta {
  display: flex;
  justify-content: center;
}
.modal__button {
  background-color: $colorAccent;
  color: $colorTextContrast;
  padding: 18px 55px;
  border-radius: 13px;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  &:hover {
    background-color: $colorTextTitle;
  }
}

.no__scroll {
  overflow: hidden;
}

// desktop-------------------
@media screen and (min-width: 1024px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
  .modal__title {
    max-width: 448px;
    line-height: 1.15;
  }
}
