.quotes {
    
  &__container {
    padding-top: 116px;
    padding-bottom: 142px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 24px;
    position: relative;
    font-family: $fontSecondary;
  }
}

@media (min-width: 768px) {
  .quotes__container {
   
    flex-direction: row;
    gap: 32px;
     position: relative;
  }
}

@media (min-width: 1200px) {
  .quotes__container {
    gap: 40px;
    align-items: baseline;
  }
}

