// section {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.recent-blogs__title {
  font-family: $fontSecondary;
  font-size: 35px;
  line-height: 62px;
  font-weight: 200;
  letter-spacing: 0em;
  text-align: center;
  color: #292f36;
  margin-bottom: 21px;
}
.recent-blogs__subtitle {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}
.recent-blogs__second-subtitle {
  font-size: 13px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4d5053;
  margin-bottom: 71px;
}
.recent-blogs__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.recent-blogs__item {
  flex-basis: calc((100% - 80px) / 1);
  max-width: 380px;
}
.room {
  border: 1px solid $colorBorder;
  border-radius: 62px;
  background-color: $colorTextContrast;
}
.room-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 21px;
  padding-top: 21px;
  padding-bottom: 15px;
}
.room-img {
  border-radius: 45px 45px 0 0;
}
.room-design {
  position: absolute;
  background-color: $colorTextContrast;
  padding: 5px;
  font-size: 13px;
  line-height: 24px;
  border-radius: 8px 8px 8px 0;
  left: 0;
  bottom: 15%;
  margin-left: 45px;
}
.room-description {
  font-family: $fontSecondary;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: $colorTextTitle;
  padding-left: 21px;
  padding-right: 32px;
  padding-bottom: 11px;
  font-weight: 200;
}
.room-date-container {
  padding-inline: 21px;
  padding-bottom: 41px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.room-date {
  font-size: 14px;
  letter-spacing: 0.01em;
}
.room-date-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-color: $colorBgPrimary;
}
@media (min-width: 786px) {
  .recent-blogs__title {
    font-family: $fontSecondary;
    font-size: 40px;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #292f36;
    margin-bottom: 21px;
  }
  .recent-blogs__subtitle {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .recent-blogs__second-subtitle {
    font-size: 15px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 71px;
  }

  .recent-blogs__item {
    flex-basis: calc((100% - 80px) / 2);
  }

  .room-design {
    position: absolute;
    background-color: $colorTextContrast;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 24px;
    border-radius: 8px 8px 8px 0;
    bottom: 40px;
    left: 10px;
  }
  .room-description {
    font-family: $fontSecondary;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: $colorTextTitle;
    padding-left: 21px;
    padding-right: 25px;
    padding-bottom: 11px;
  }
  .room-date-container {
    padding-inline: 21px;
    padding-bottom: 41px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  .room-date {
    font-size: 17px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 1200px) {
  .recent-blogs__title {
    font-family: $fontSecondary;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: #292f36;
    margin-bottom: 21px;
  }
  .recent-blogs__subtitle {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-align: center;
  }
  .recent-blogs__second-subtitle {
    font-size: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 71px;
  }
  .recent-blogs__item {
    flex-basis: calc((100% - 80px) / 3);
  }
  .room-photo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 21px;
    padding-top: 21px;
    padding-bottom: 15px;
  }
  .room-design {
    position: absolute;
    background-color: $colorTextContrast;
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px 8px 8px 0;
    bottom: 44px;
    margin-left: 45px;
  }
  .room-description {
    font-family: $fontSecondary;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.02em;
    color: $colorTextTitle;
    padding-left: 21px;
    padding-right: 32px;
    padding-bottom: 11px;
  }
  .room-date-container {
    padding-inline: 21px;
    padding-bottom: 41px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  .room-date {
    font-size: 16px;
    letter-spacing: 0.01em;
  }
  .room-date-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: $colorBgPrimary;
  }
}
