// section {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.recent-blogs__title {
  padding-top: 143px;
  font-family: $fontSecondary;
  font-size: 35px;
  line-height: 62px;
  font-weight: 200;
  letter-spacing: 0em;
  text-align: center;
  color: #292f36;
  margin-bottom: 21px;
}
.recent-blogs__subtitle {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}
.recent-blogs__second-subtitle {
  font-size: 13px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #4d5053;
  margin-bottom: 71px;
}
.recent-blogs__list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.recent-blogs__item {
  flex-basis: 100%;
  max-width: 380px;
}

.room {
  border: 1px solid $colorBorder;
  border-radius: 62px;
  background-color: $colorTextContrast;
  transition: transform 0.5s ease;
}
.room:hover {
  border: 1px solid $colorBorder;
  border-radius: 62px;
  background-color: #f4f0ec;
  animation-name: card-animation;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform: translateY(-20px);
  box-shadow: #292f36;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
@keyframes card-animation {
  0% {
    background-color: #f4f0ec;
  }
  10% {
    background-color: #ece9e6e1;
  }
  20% {
    background-color: #e7e5e2ce;
  }
  30% {
    background-color: #d8d6d38f;
  }
  40% {
    background-color: #c9c6c38f;
  }
  50% {
    background-color: #e7e3de56;
  }
  60% {
    background-color: #c9c6c38f;
  }
  70% {
    background-color: #d8d6d38f;
  }
  80% {
    background-color: #e7e5e2ce;
  }
  90% {
    background-color: #ece9e6e1;
  }
  100% {
    background-color: #f4f0ec;
  }
}
.room-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 21px;
  padding-top: 21px;
  padding-bottom: 15px;
}
.room-img {
  border-radius: 45px 45px 0 0;
}
.room-design {
  position: absolute;
  background-color: $colorTextContrast;
  padding: 5px;
  font-size: 13px;
  line-height: 24px;
  border-radius: 8px 8px 8px 0;
  left: 0;
  bottom: 15%;
  margin-left: 45px;
}
.room-description {
  font-family: $fontSecondary;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: $colorTextTitle;
  padding-left: 21px;
  padding-right: 32px;
  padding-bottom: 11px;
  font-weight: 200;
}
.room-date-container {
  padding-inline: 21px;
  padding-bottom: 41px;
  display: flex;
  gap: 80px;
  justify-content: center;
  align-items: center;
}
.room-date {
  font-size: 14px;
  letter-spacing: 0.01em;
}
.room-date-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  background-color: $colorBgPrimary;
  transition: transform 1s ease;
}

.room-date-img:hover {
  transform: rotate(360deg);
}

@media (min-width: 786px) {
  .recent-blogs__title {
    font-size: 40px;
  }
  .recent-blogs__subtitle {
    font-size: 15px;
  }
  .recent-blogs__second-subtitle {
    font-size: 15px;
  }

  .recent-blogs__item {
    flex-basis: calc((100% - 60px) / 2);
  }
  .room-description {
    font-size: 22px;
  }

  .room-date {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .recent-blogs__title {
    font-size: 48px;
  }
  .recent-blogs__subtitle {
    font-size: 22px;
  }
  .recent-blogs__second-subtitle {
    font-size: 22px;
  }
  .recent-blogs__item {
    flex-basis: calc((100% - 80px) / 3);
  }
  .room-description {
    font-size: 24px;
  }
  .room-date-container {
    padding-inline: 21px;
    padding-bottom: 41px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  .room-date {
    font-size: 16px;
  }
}
