body {
  margin: 0;
  font-family: "Georgia", "Times New Roman", serif;
  background-color: #f4f4f4;
}

.info-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c6996b; /* карамельний фон */
  color: white;
  padding: 80px 40px;
  text-align: center;
  flex-wrap: wrap;
}

.info-box {
  flex: 1 1 250px;
  margin: 20px;
}

.info-box h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.info-box p {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 600;
}

@media (max-width: 768px) {
  .info-section {
    flex-direction: column;
    padding: 60px 20px;
  }
  .info-box {
    margin-bottom: 40px;
  }
}